body{

}

.command{
 margin-left:60px;

}

.target {
 margin-left:80px;
}

.value {
 margin-left:80px;
}

a:visited {
color: red; 
text-decoration:none; 
}

.test {
margin-left:20px;

}

.fixture {
 margin-left:40px;
}

.columns{
 margin-left:30px;
}

.column{
 margin-left:20px;
}

.rows {
 margin-left:30px;
}

.row {
 margin-left:20px;
}

.rowentry {
 margin-left:20px;
}

.lineNumber {
position:absolute;
left:5px;
}


.desc {
position:absolute;
left:5px;
}
